table, th, td, tr{
    border: 1px solid;
    border-collapse: collapse;
    padding-left: 50px;
    padding-left: 50px;
    text-align: center;
    width: 60;
    height: 40;

}

td {
    padding-top: 20px ;
}

form {
    display: inline-block;
}